__pycache__/
*.pyc
.env
.env.*
venv/
.venv/

node_modules/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

.vercel
.vercel_build_output
.output

dist/
build/

artifacts/
*.log

.vscode/
.idea/

.DS_Store
Thumbs.db